body {
    background-color: #e0e0e0 !important;
}

div {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 18px;
}

h3 {
    font-family: 'Montserrat', 'sans-serif' !important;
    color: steelblue !important;
    font-weight: 900;
    font-size: 16px !important;
    text-transform: uppercase;
    border-bottom: #c0c0c0 1px solid;
}

.navbar {
  border-top: 5px solid steelblue;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 24px !important;
  color: steelblue !important;
}

#chart, #tchart text {
  fill: white !important;
  font: 10px 'Open Sans';
  font-weight: 200;
  text-anchor: end !important;
}