body {
    background-color: #d0d0d0 !important;
}

div {
    font-family: 'Barlow', 'sans-serif';
    letter-spacing: .05em;
}

h3 {
    font-family: 'Passion One', 'sans-serif' !important;
    color: gray !important;
}

#post-list td {
    border: 1px solid #c0c0c0;
}

#flash {
    color: red;
    border: 1px solid red;
}

#unread {
    color: red;
    font: 10px bold;
}

.container {
    padding: 100px;
}