<!doctype html>
<html>
<head>
    <title>{% block title %} placeholder for title {% endblock %}</title>
</head>
<body>
    <div id='login'>
        {% if session.get('emp_id') %}  <!-- REMEMBER THIS! -->
            You are logged in as {{ session['emp_name']}}. 
            <a href='/logout'>Log out</a>
        {% else %}
            <form action='/login' method='POST'>
                Employee ID: <input type='text' name='emp_id'>
                Password: <input type='password' name='password'>
                <input type='submit'>
            </form> 
        {% endif %}
    </div>

    {% if session %}
        {% for message in get_flashed_messages() %}
        <div id='flash'>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% block body %}

    <p>Body here</p>
    
    {% endblock %}
</body>
</html>