{% extends 'base.html' %}

{% block title %}Make a Post{% endblock %}

{% block body %}
<!-- QUESTION: I put the form stuff up here. Feels yucky -->
<div class='row'>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <br>
    <div class="card" >
      <div class="card-header">
      <h3>Create a Post</h3>
      </div>
      <div class="card-body">
      <!-- BEGIN CONTENT-->
      <form action='/insert-post' method='post' id='post-stuff-box' enctype='multipart/form-data'>
        Title
        <input class="form-control form-control-lg" type="text" placeholder="Title"name="title-input" required>
        Post Category:
          <select class="form-control form-control-md" name='category' required>
          <option selected disabled value="">Select a Category</option>
          {% for category in categories: %}
          <option value='{{ category.cat_id }}'>{{ category.name }}</option>
          {% endfor %}
          </select>
        Content
        <textarea class="form-control form-control-md" id='post-content' name='post-content' rows='20' required></textarea>

</div></div></div>        
        <div class="col-xs-12 col-md-3 col-lg-3">
    <br>
    <div class="card" >
      <div class="card-header">
      <h3>Select audience</h3>
      </div>
      <div class="card-body">

        <button id='post-all' type="button" class="btn btn-outline-secondary btn-sm" >Select All Stores</button><br><br>
        
        Or select an individual store:<br>
        {% for store in stores[:-1] %}
        <input type='checkbox' class='store' name='audience' value='{{ store.store_id }}'> {{ store.store_id }} {{ store.name }}<br>
        {% endfor %}
        <input type='checkbox' class='store' name='audience' value='999' checked hidden>
        <br>


</div></div></div>        
        <div class="col-xs-12 col-md-3 col-lg-3">
    <br>
    <div class="card" >
      <div class="card-header">
<h3>Action required?</h3>
      </div>
      <div class="card-body">

     



        

         <input id='task-required-checkbox' type='checkbox' name='has_task'> Task required <br>

        <div id='task-assign-section'>
          Task item: <input class="form-control form-control-md" id='task-desc-input' class='text-input' type='text/css' name='task_item' maxlength='50'>
          Deadline: <input class="form-control form-control-md" id='task-deadline-input' type='date' name='deadline'>
        </div>   <br>

Add an attachment:<br>
          <input type='file' name='file'>
          <br><br>
          <div id='post-preview' hidden></div>
          <br>

          <button type="button" class="btn btn-outline-secondary btn-lg" id='post-preview-button'>Preview Post</button>
          <button id='edit-post-button' hidden>Edit Post</button>
          <input type="submit" class="btn btn-secondary btn-lg" id='post-stuff' value="POST!">

          
      <!-- END CONTENT -->
      </div><!--card-body-->
    </div><!--card-->
  </div><!--width class-->
</div><!--row-->
          </form>


<script type="text/javascript">
    "use strict";


// Select all store checkboxes
$('#post-all').on('click', function (evt) {
    evt.preventDefault();
    if ($('#post-all').html() === 'Uncheck All Stores') {
        $(':checked').prop('checked', false);
        $('#post-all').html('Select All Stores');
    } else if ($('#post-all').html() === 'Select All Stores') {
        $('.store').prop('checked', true);
        $('#post-all').html('Uncheck All Stores');
    }
});

</script>

{% endblock %}