{% extends 'base.html' %}

{% block title %}Make a Post{% endblock %}

{% block body %}
<!-- QUESTION: I put the form stuff up here. Feels yucky -->
<div class='row'>
  <div class="col-xs-12 col-md-6 col-lg-6">
    <br>
    <div class="card" >
      <div class="card-header">
      Create a Post
      </div>
      <div class="card-body">
      <!-- BEGIN CONTENT-->
      <form action='/insert-post' method='post' id='post-stuff-box' enctype='multipart/form-data'>
        Title
        <input class="form-control form-control-lg" type="text" placeholder="Title"name="title-input" required>
        Post Category:
          <select class="form-control form-control-md" name='category' required>
          <option selected disabled value="">Select a Category</option>
          {% for category in categories: %}
          <option value='{{ category.cat_id }}'>{{ category.name }}</option>
          {% endfor %}
          </select>
        Content
        <textarea class="form-control form-control-md" id='post-content' name='post-content' rows='20' required></textarea>

</div></div></div>        
        <div class="col-xs-12 col-md-3 col-lg-3">
    <br>
    <div class="card" >
      <div class="card-header">
      Select audience
      </div>
      <div class="card-body">

        <button id='post-all'>Select All Stores</button>
        Send to: {# put this in a for loop #}
        <button id='post-d01' name='audience' value='D01'> District 1</button>
        <button id='post-d02' name='audience' value='D02'> District 2</button>
        <button id='post-d03' name='audience' value='D03'> District 3</button>
        <button id='post-d04' name='audience' value='D04'> District 4</button>
        <button id='post-d05' name='audience' value='D05'> District 5</button>
        <br>
        Or select a store:
        {% for store in stores[:-1] %}
        <input type='checkbox' class='store' name='audience' value='{{ store.store_id }}'>{{ store.store_id }} {{ store.name }}<br>
        {% endfor %}
        <input type='checkbox' class='store' name='audience' value='999' checked hidden>
        <br>


</div></div></div>        
        <div class="col-xs-12 col-md-3 col-lg-3">
    <br>
    <div class="card" >
      <div class="card-header">
Action required?
      </div>
      <div class="card-body">

     



        

         Task required? <input id='task-required-checkbox' type='checkbox' name='has_task'>

        <div id='task-assign-section'>
          Task item: <input class="form-control form-control-md" id='task-desc-input' class='text-input' type='text/css' name='task_item' maxlength='50'>
          Deadline: <input id='task-deadline-input' type='date' name='deadline'>
        </div>   

          <input type='file' name='file'>

          <div id='post-preview' hidden></div>

          <button id='post-preview-button'>Preview Post</button>
          <button id='edit-post-button' hidden>Edit Post</button>
          <input id='post-stuff' type='submit' value="POST!">

          
      <!-- END CONTENT -->
      </div><!--card-body-->
    </div><!--card-->
  </div><!--width class-->
</div><!--row-->
          </form>


<script type="text/javascript">
    "use strict";


// Select all store checkboxes
$('#post-all').on('click', function (evt) {
    evt.preventDefault();
    if ($('#post-all').html() === 'Uncheck All Stores') {
        $(':checked').prop('checked', false);
        $('#post-all').html('Select All Stores');
    } else if ($('#post-all').html() === 'Select All Stores') {
        $('.store').prop('checked', true);
        $('#post-all').html('Uncheck All Stores');
    }
});

</script>

{% endblock %}