{% extends 'base.html' %}

{% block title %}Welcome to Storenet{% endblock %}

{% block body %}

<h3>New posts from the almighty masters</h3>

{% for receipt in read_receipts %}
    {% if receipt.was_read == False %}
        <span id='unread'>NEW!</span>
    {% endif %}
    <a href='/view-post/{{ receipt.post_id }}'>{{ receipt.post.title }}</a>
    {{ receipt.post.date }}
    {{ receipt.post.employee.fname }}
    
    <br>
{% endfor %}

<p>Chuck Norris can never fill out an online form, because Chuck Norris 
    will never submit.</p>

{% endblock %}