{% extends 'base.html' %}

{% block title %}Welcome to Storenet{% endblock %}

{% block body %}
<br>
<div class="row">

  <div class="col-xs-12 col-md-3 col-lg-3">
    <div class="card">
      <div class="card-body">
      <h3>Store Dashboard</h3>
      <small>Store {{ session['store_id'] }} - {{ store.name }}</small><br><br>
      <b>Today's Sales Projections</b><br>
      <span class='sales'>${{ metrics['fake_proj'] }}</span><br><br>
      <b>Current Sales</b><br>
      <span class='sales'>${{ metrics['fake_sales'] }}</span><br><br>
      <b>Current Weather for {{ weather.place }}</b><br>
      <img src="{{ weather.icon }}"> {{ weather.desc }}
      </div> <!--card-body-->
    </div> <!--card -->
  </div> <!--col-->

<div class="col-xs-12 col-md-6 col-lg-6">
  <div class='card'>
    <div class="card-body">

      <nav class="nav nav-tabs" id="myTab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><h3>New Posts</h3></a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><h3>Calendar</h3></a>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <!-- NEW POSTS SECTION -->
        <br>
          {% if assigned_posts %}
            {% for assigned_post in assigned_posts %}
              {% if assigned_post.was_read == False %}
              <span class="badge badge-success">NEW</span>
              {% endif %}
            <a href='/posts/{{ assigned_post.post_id }}'>{{ assigned_post.post.title }}</a><br>
            <small>Posted on {{ assigned_post.post.date.strftime('%a, %m.%d.%y') }}
              {% if assigned_post.post.tasks %}
              | <a href="#" class="badge badge-secondary">Action Required</a>
              {% endif %}
            </small><br><br>
            {% endfor %}
          {% else %}
            There are no posts.
          {% endif %}
          <a href="#" class="btn btn-primary">View more posts</a>
        <!-- END NEW POSTS SECTION -->
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <!-- BEGIN CALENDAR -->
          <br>
<table class='calendar'>
  <tr>
  {% for day in calendar[0] %}
    <td width='14%' valign='top' align='center' class='table-head'>{{ day[0].strftime('%a') }}, {{ day[0].month }}/{{ day[0].day }}</td>
  {% endfor%}
  </tr>
  <tr>
  {% for day in calendar[0] %}
    <td valign='top' class='calendar'>
      {% if day[2] %}
        {% for event in day[2] %}<br>
          <div class='calendar-event'>{{ event.desc }}</div>
        {% endfor %}
      {% endif %}

      {% if day[1] %}
        {% for task_due in day[1] %}<br>
          <div class='calendar-task'>Task due: {{ task_due.desc }}</div>
        {% endfor %}
      {% endif %}
      <br>
    </td>
  {% endfor %}
  </tr>

 <tr>
  {% for day in calendar[1] %}
    <td width='14%' valign='top' align='center' class='table-head'>{{ day[0].strftime('%a') }}, {{ day[0].month }}/{{ day[0].day }}</td>
  {% endfor%}
  </tr>
  <tr>
  {% for day in calendar[1] %}
    <td valign='top' class='calendar'>
      {% if day[2] %}
        {% for event in day[2] %}<br>
          <div class='calendar-event'>{{ event.desc }}</div>
        {% endfor %}
      {% endif %}

      {% if day[1] %}
        {% for task_due in day[1] %}<br>
          <div class='calendar-task'>Task due: {{ task_due.desc }}</div>
        {% endfor %}
      {% endif %}
      <br>
    </td>
  {% endfor %}
  </tr>

</table>
          <!--end CALENDAR -->
        </div><!--tab pane -->
       </div>

              <!-- begin posts -->

    </div><!--card-body-->
  </div><!--card-->


  </div><!--col-->

  <div class="col-xs-12 col-md-3 col-lg-3">
      <!-- TASKS SECTION -->
{% if emp_incomplete_tasks %}
    <div class="card">
      <div class="card-body" style='background-color: #ffcc99'>
<h3>Your Tasks      <span class="badge badge-pill badge-danger">{{ emp_incomplete_tasks|length }}</span> </h3>

          <form action='/complete-task' method='post'>
        {% for task in emp_incomplete_tasks %}
          <input type='checkbox' name='completed-tasks' value='{{task.task_id}}'>
          <a href='posts/{{ task.post_id }}'>{{ task.desc }}</a><br>
{% if (task.deadline - current_date).days < 0 %}
        <span style='color: red'>overdue by {{ -(task.deadline - current_date).days }} days</span>
        {% else %}
        due in {{ (task.deadline - current_date).days }} days
        {% endif %}
          <br>
        {% endfor %}
          <button class="btn btn-default" type="submit" value="Mark Complete">Mark Complete</button>
        </form>
</div></div><!--card-->
<br>
  {% endif %}


    <div class="card">
      <div class="card-body">

      <h3>Task Manager</h3>
      {% if incomplete_tasks %}
      <small>Incomplete Tasks for Store {{ session['store_id'] }}</small>
      <span class="badge badge-pill badge-warning">{{ incomplete_tasks|length }}</span></h6>
        {% for task in incomplete_tasks %}
        <a href='posts/{{ task.post_id }}'>{{ task.desc }}</a><br>
        <small>
        {% if (task.deadline - current_date).days < 0 %}
        <span style='color: red'>overdue by {{ -(task.deadline - current_date).days }} days</span>
        {% else %}
        due in {{ (task.deadline - current_date).days }} days
        {% endif %}
        </b></small><br>
        {% endfor %}

      {% else %}
      Your store is up to date on all tasks.
      {% endif %}
      <br><br>

      {% for task in metrics['unassigned_tasks'] %}
        {{ task.desc }}
      {% endfor %}

      <div id="content"></div>

      <!-- END TASK SECTION -->
      </div>
    </div>
  </div>
</div>

{% endblock %}