{% extends 'base.html' %}

{% block title %}Welcome to Storenet{% endblock %}

{% block body %}

<div class='container'>
  <div class='card'>
    <div class="card-body">
      <h1>Storenet</h1>
      <form action='/login' id='test-login' method='post'>
        Employee ID: <input class="form-control form-control-lg" type="text" placeholder="Employee ID" name='form-emp-id' required>
        Password: <input class="form-control form-control-lg" type="password" placeholder="Password" name='form-pw' required>
        <button class='btn-lg' type='submit'>Log into Storenet</button>
        </form>
    </div>
  </div>
</div>

<div class='container-fluid'>
<svg class='chart'></svg>
</div>



{% endblock %}