{% extends 'base.html' %}

{% block title %}Welcome to Storenet{% endblock %}

{% block body %}

<div class='container' width='400px'>
  <br><br><br><br><br>
  <div class='card'>
    <div class="card-body">
      <div class='navbar-brand' style='font-size:50px'>STORENET</div>
      <form action='/login' id='test-login' method='post'>
        <input class="form-control form-control-lg" id='emp_id' type="text" placeholder="Employee ID" name='form-emp-id' required><br>
        <input class="form-control form-control-lg" id='password' type="password" placeholder="Password" name='form-pw' required>
        <br>
        <button class="btn-lg btn-primary" id='submit' type='submit'>Log into Storenet</button>
        </form>
    </div>
  </div>
</div>

<div class='container-fluid'>
<svg class='chart'></svg>
</div>



{% endblock %}