{% extends 'base.html' %}

{% block title %}Post a memo{% endblock %}

{% block body %}

<p>Greetings, almighty admin. You have the highest security clearance on this
    amazing web app. Cheers!</p>

<h3>What do you have to say?</h3>

<form action='/preview-post' id='post-comm' method='post'>
    Title: <input type='text' name='title' required value="{{ fake_title }}"><br>
    Post Category:
    <select name='category'>
        {% for category in categories: %}
        <option value='{{ category.cat_id }}'>{{ category.name }}
        </option>
        {% endfor %}
    </select>
    <button id='post-all'>Uncheck All Stores</button>
    Send to:
    <input type='checkbox' id='post-d01' name='audience' value='D01'> District 1
    <input type='checkbox' id='post-d02' name='audience' value='D02'> District 2
    <input type='checkbox' id='post-d03' name='audience' value='D03'> District 3
    <input type='checkbox' id='post-d04' name='audience' value='D04'> District 4
    <input type='checkbox' id='post-d05' name='audience' value='D05'> District 5
    <br>
    Or select a store:
    {% for store in stores %}
        <input type='checkbox' class='store' name='audience' value='{{ store.store_id }}' checked='checked'>{{ store.store_id }} {{ store.name }}
    {% endfor %}
    <br>
    <div id='flash'>use javascript to make action/ deadline rquired</div>
    Action required? <input type='checkbox' name='has_action' checked>
    Action item: <input type='text/css' name='action_item' value="BLAH">
    Deadline: <input type='date' name='deadline'><br>
    <textarea name='post-content' rows='10' cols='50' required>{{ fake_text }}</textarea><br>
    <input type='submit'>

</form>

<script type="text/javascript">
    "use strict";

$('#post-all').on('click', function (evt) {
    evt.preventDefault();
    if ($('#post-all').html() === 'Uncheck All Stores') {
        $('.store').removeAttr('checked');
        $('#post-all').html('Select All Stores');
    } else if ($('#post-all').html() === 'Select All Stores') {
        $('.store').attr('checked', 'checked');
        $('#post-all').html('Uncheck All Stores');
    }
});

</script>

{% endblock %}