{% extends 'base.html' %}

{% block title %}Post a memo{% endblock %}

{% block body %}

<p>Greetings, almighty admin. You have the highest security clearance on this
    amazing web app. Cheers!</p>

<h3>What do you have to say?</h3>

<form action='/preview-post' id='post-comm' method='post'>
    Title: <input type='text' name='title' required><br>
    Send to:
    <input type='checkbox' name='audience' value='ALL'> All stores
    <input type='checkbox' name='audience' value='D01'> District 1
    <input type='checkbox' name='audience' value='D02'> District 2
    <input type='checkbox' name='audience' value='D03'> District 3
    <input type='checkbox' name='audience' value='D04'> District 4
    <input type='checkbox' name='audience' value='D05'> District 5
    <input type='checkbox' name='audience' value='ALL-SM'> All District Managers
    <br>
    Or select a store:
    <select>
    {% for store in stores %}
        <option name='audience' value='{{ store.store_id }}'>
            {{ store.store_id }} {{ store.name }}
        </option>
    {% endfor %}
    </select>
    <br>
    <textarea name='post-content' rows='20' cols='100' required></textarea><br>
    Action required? <input type='checkbox' name='action' value='chuck_norris'>
    <div id='flash'>Going to put this in a javascript thing that shows up when you click yes</div>
    Action item: <input type='text/css' name='action_item'><br>
    Deadline: <input type='date' name='deadline'>
    <input type='submit'>
</form





{% endblock %}