{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block body %}

<h3>Details for {{ obj.fname }} {{ obj.lname}}</h3>

<ul>
    <li>{{ obj.emp_id }}</li>
    <li>{{ obj.pos_id }}</li>
    <li>{{ obj.fname }} {{ obj.lname }}</li>
    <li>{{ obj.ssn }}</li>
    <li>Store {{ obj.store.store_id }}</li>
    <li>{{ obj.store.name }}</li>
    <li>District {{ obj.store.district.name }}</li>
    <li>{{ obj }}</li>
</ul>

{% if obj.pos_id == "99-HQ" %}
    <p>Admin information goes here</p>
    <a href="post">Post some stuff here</a>
{% endif %}

{% endblock %}