{% extends 'base.html' %}

{% block title %}edit this{% endblock %}

{% block body %}
<br>

<div class="col-xs-12 col-md-12 col-lg-12">
  <div class='card'><div class='card-body'>
    <b>Today's Weather</b><br>
    <img src="{{ weather.icon }}"> {{ weather.desc }}</img>
    

    <h3> metrics</h3>
    {{ metrics }}
    <h3> unassigned_tasks</h3>
    {% for task in metrics['unassigned_tasks'] %}
    <a href="/view-post/{{ task.post_id }}">{{ task.desc }}</a><br>
    {% endfor %}

    <h3> Latest Sales</h3>
    ${{fake_sales}}


    <h3>Store Information</h3>
    {{ store_obj.name }}<br>
    {{ store_obj.address }}<br>
    {{ store_obj.phone }}<br>

    <h3>Employee List</h3>
    {% for employee in store_obj.employees|sort(attribute='pos_id') %}
    <a href='/view-profile/{{ employee.emp_id }}'>{{ employee.fname }} {{ employee.lname }}</a>, {{ employee.position.title }}<br>

    {% endfor %}

    <h3>Incomplete Tasks</h3>

    <h3>Unassigned Tasks</h3>

  </div></div><!--card--><!--card-body-->
</div><!--col-->
{% endblock %}
                        