{% extends 'base.html' %}

{% block title %}edit this{% endblock %}

{% block body %}

<ol>
<li>% of read posts</li>
<li>% task completion</li>
<li>list of unassigned tasks</li>
</ol>

     <b>Today's Weather</b><br>
        <img src="{{ weather.icon }}"> {{ weather.desc }}
        </div>


<h3>Store Information</h3>
{{ store_obj.name }}<br>
{{ store_obj.address }}<br>
{{ store_obj.phone }}<br>

<h3>Employee List</h3>
{% for employee in store_obj.employees|sort(attribute='pos_id') %}
    {{ employee.fname }} {{ employee.lname }}, {{ employee.position.title }}<br>

{% endfor %}

<h3>Incomplete Tasks</h3>



<h3>Unassigned Tasks</h3>


{% endblock %}
