{% extends 'base.html' %}

{% block title %}Storenet | User Profile{% endblock %}

{% block body %}

<h3>Details for {{ obj.fname }} {{ obj.lname}}</h3>

<ul>
    <li>{{ obj.fname }} {{ obj.lname }}</li>
    <li><b>Employee ID:</b> {{ obj.emp_id }}</li>
    <li><b>Position:</b>{{ obj.pos_id }} - {{ obj.position.title }}</li>
    <li><b>SSN:</b> {{ obj.ssn }}</li>
    <li>Store {{ obj.store.store_id }} {{ obj.store.name }}</li>
    <li>District {{ obj.store.district.name }}</li>
    <li>{{ obj }}</li>
</ul>

This associate has completed
<b>{{ complete_tasks_count }}</b> tasks
since <b>{{ oldest_date }}<b/>. 
<br>Average completion time: {{ rating }}


{% if incomplete_tasks %}
          <form action='/complete-task' method='post'>
        {% for task in incomplete_tasks %}
          <input type='checkbox' name='completed-tasks' value='{{task.task_id}}'>
          <a href='posts/{{ task.post_id }}'>{{ task.desc }}</a> due in <b>{{ (task.deadline - current_date) }}</b>
          assigned to {{ task.emp_id }}
          <br>
        {% endfor %}
          <input class="btn btn-default" type="submit" value="Mark Complete">
        </form>
      {% endif %}
<br>
task thing<br>


<svg id='read-chart'></svg>
<br>
<svg id='task-chart'></svg>


<script type="text/javascript">

function createBarGraph(url) {

  d3.json(url, function (results) {

    let data = results.data
    console.log(results)

    let width = 420;
    let barHeight = 50;

    let scale = d3.scale.linear()
      .domain([0, d3.max(data, (d) => d.max)])
      .range([0, width]);

    let color = d3.scale.linear()
      .domain([0, d3.max(data, (d) => d.max)])
      .range(['orange', 'steelblue']);

    let chart = d3.select(results.div)
      .attr("width", width)
      .attr("height", barHeight);

    let bar = chart.selectAll("g")
      .data(data)
      .enter().append("g")
      .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
      .attr('width', (d) => scale(d.value))
      .attr("height", barHeight - 1)
      .attr('fill', (d) => color(d.value));

    bar.append("text")
      .attr("x", function(d) { return scale(d.value) - 3; })
      .attr("y", barHeight / 2)
      .attr("dy", ".35em")
      .text(function(d) { return d.percent; });

  });
  };

createBarGraph('/view-profile/{{ obj.emp_id }}/task-completion.json');
createBarGraph('/view-profile/{{ obj.emp_id }}/read-compliance.json')

</script>

{% endblock %}