{% extends 'base.html' %}

{% block title %}All Stores{% endblock %}

{% block body %}

<h2>Store Directory</h2>

{% for district in districts[:-1] %} <!--Prevents Corp District from display-->
<ul>
<h3>{{ district.name }}</h3>
    {% for store in district.stores %}
    <li><b>{{ store.store_id}} {{ store.name}}</b><br>
        {{ store.address }}<br>
        {{ store.phone }}<br>
        Store Manageer: {{ sm_dict[store.store_id] }}<br><br>

    {% endfor %}
</ul>
{% endfor %}

<p>Chuck Norris can never fill out an online form, because Chuck Norris 
    will never submit.</p>

{% endblock %}