  {% extends 'base.html' %}

  {% block title %}Storenet | {{ post.title }}{% endblock %}

  {% block body %}
  <br>
  <div class='container-fluid'>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-7 offset-1">
        <div class="card">
          <div class="card-body">
            <!-- POSTS GO HERE -->
            <h1>Post</h3>
            <h4 class="card-title">{{ post.title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">Posted on {{ post.date.strftime('%a, %m.%d.%y') }} | Filed under {{ post.category.name }}</h6>
            <div class='pdf'>
             {% if post.pdf_url %}
                  <img src='/static/images/pdf.png' width='25px'> <a href="{{ post.pdf_url }}">{{ post.pdf_url }}</a>
        
                  {% endif %}
                </div>
            <br>
            <div class='post'>{{ post.text }}</div>
            <!-- END POSTS SECTION -->
          </div>
        </div>
      </div><!--col-->
      <div class="col-xs-12 col-md-6 col-lg-3">
          <!-- TASKS SECTION -->
          <div class='card'><div class='card-body'>
          {% if post.tasks %}
            <h1>Tasks</h3>
            This task is due on <b>{{ task.deadline.strftime('%a, %m.%d.%y') }}</b><br>
            Status: 
            {% if task.is_complete == False %}
                <span class="badge badge-danger">INCOMPLETE</span>
            {% else %}
                           <span class="badge badge-secondary">COMPLETED</span> on
 {{ task.complete_date.strftime('%a, %m.%d.%y') }}
            {% endif %}
<br>
{% if task.emp_id == '09332' %}

            {% elif task.emp_id == session['emp_id'] %}
              <br>This post is assigned to you.
            {% elif task.emp_id %}
                Assigned to {{ task.employee.fname }} {{ task.employee.lname }}
            {% else %}
                Assign this task to an associate:
                <form action='/assign-task' method='post'>
                  <select name='assignee' class="form-control form-control-sm" required>
                    <option selected disabled value="">Select an Employee</option>
                    {% for employee in task.store.employees %}
                    <option value='{{ employee.emp_id }}'>{{ employee.fname }} {{ employee.lname }} - {{ employee.position.title }}</option>
                    {% endfor %}
                  </select><br>
                    <input type='hidden' name='post_id' value='{{ post.post_id }}'>
                    <input class="btn btn-secondary btn-sm" type='submit'>
                </form>
            {% endif %}

          {% else %}
              <small>No post is informational only. There is no task associated with tihs post. However, you must share the information with your fellow managers.</small>
          {% endif %}
          </div></div><!--card and body -->
         <!-- END TASK SECTION -->

<br>
 <div class="card">
          <div class="card-body">
  {% if session.get('pos_id') == '01-SM' %}

            <h1>Who has read this post?</h3>
                  <small>
                    {% for emp in emps_read %}
                    <input type='checkbox' checked disabled>{{ emp.fname }}<br>
                    {% endfor %}
                    {% for emp in emps_not_read %}
                    <input type='checkbox' disabled>{{ emp.fname }}<br>
                    {% endfor %}
      {% endif %}

        {% if session.get('pos_id') == '02-AM' %}

            <h1>Who has read this post?</h3>
                  <small>
                    {% for emp in emps_read %}
                    <input type='checkbox' checked disabled>{{ emp.fname }}<br>
                    {% endfor %}
                    {% for emp in emps_not_read %}
                    <input type='checkbox' disabled>{{ emp.fname }}<br>
                    {% endfor %}
      {% endif %}

      {% if session.get('pos_id') == '10-DM' %}
      <table><tr><td align='center'>
      <svg id='read-chart' width='120' height='120'></td><td align='center'>
              <svg id='task-chart'  width='120' height='120'></td></tr></table>
      {% endif %}

      {% if session.get('pos_id') == '99-HQ' %}
      <h1>Company Statistics</h3>
      <table width='100%'><tr><td align='center'>
        <h5 style='font-size:13px !important'>Read Compliance</h5>
      <svg id='read-circle-chart' width='120' height='120'></td><td align='center'>
        <h5 style='font-size:13px !important'>Task Completion</h5>
              <svg id='task-circle-chart' width='120' height='120'></td></tr></table>


      {% endif %}
                  </small>
          </div></div><!--card body and card--> 





       

               

        
          </div>
        </div>
      </div>
    </div>
  </div>

  </div><!--row-->
</div><!--container-->


<!-- D3 Data Visualization here-->
<script type="text/javascript">
  'use strict';

function createRadialChart(url) {
  d3.json(url, function (results) {

  let color = d3.scale.ordinal()
    .range(['orange', 'steelblue']);

  let radius = 50;
  let border = 3;
  let startPercent = 0;
  let endPercent = results.data.percent/100;
  let formatPercent = d3.format('.0%');
  let canvas = radius * 2 + 5;

  let count = Math.abs((endPercent - startPercent) / 0.01);
  let step = endPercent < startPercent ? -0.01 : 0.01;

  let arc = d3.svg.arc()
    .startAngle(0)
    .innerRadius(radius)
    .outerRadius(radius - border);

  let parent = d3.select(results.div);

  let svg = parent.append('svg')
    .attr('width', canvas)
    .attr('height', canvas);

  let defs = svg.append('defs');

  let g = svg.append('g')
    .attr('transform', 'translate(' + canvas / 2 + ',' + canvas / 2 + ')');

  let innerCircle = g.append('g')
    .attr('class', 'progress-meter');

  innerCircle.append('path')
    .attr('fill', '#c0c0c0')
    .attr('d', arc.endAngle(Math.PI * 2));

  let foreground = innerCircle.append('path')
    .attr('fill', results.color)
    .attr('stroke', results.color)
    .attr('stroke-width', 5)

  let front = innerCircle.append('path')
    .attr('class', 'foreground')
    .attr('fill', results.color)

  let text = innerCircle.append('text')
    .attr('fill', results.color)
    .attr('text-anchor', 'middle')
    .attr('style', 'font-weight: bold')
    .attr('dy', '.35em')

  function updateProgress(progress) {
    foreground.attr('d', arc.endAngle(Math.PI * 2 * progress));
    front.attr('d', arc.endAngle(Math.PI * 2 * progress));
    text.text(formatPercent(progress));
  }

  let progress = startPercent;

  (function loops() {
    updateProgress(progress);

    if (count > 0) {
        count--;
        progress += step;
        setTimeout(loops, 10);
    }
})()});
};

createRadialChart('/posts/{{ post.post_id }}/read-compliance.json')
createRadialChart('/posts/{{ post.post_id }}/task-completion.json')


</script>


{% endblock %}
